<template name="addpdf">
<br><br>
<div class="col-md-3">
 {{#autoForm collection="Pdfs" id="insertPdfForm" type="insert"}}
    <fieldset>
      <legend>إضافة درس</legend>

      {{> afQuickField name='title' label="الاسم"}}
      {{> afQuickField name='author'}}
      {{> afQuickField name='summary' rows=6}}
      {{> afQuickField name='link' schema=pdf}}
     </fieldset>


    <button type="submit" class="btn btn-primary">إدخال</button>
{{> sAlart}}
  {{/autoForm}}
</div>

<div class="row">
{{#each pdfs}}
{{title}}
{{link}}
{{/each}}
</div>
</template> 

